body {
    /* height: 80vh; */
    /* width:50vw; */
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(61, 121, 181); */
    /*background:rgb(218, 223, 228);*/
    background: black;
    color: white;
    letter-spacing: 2px;
    backdrop-filter: blur(10px);
}

form {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    font-weight: 600;
}

input,select,textarea,button {
    padding: 10px;
    outline: none;
}

button {
    border:none;
    font-weight: 800;
    letter-spacing: 3px;
    background: rgb(7, 7, 7);
    color:rgb(160, 111, 20);
    border:2px solid #908d8d;
}

button:hover {
    background: #fcf8f8;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
